<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.password">shk</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:mydb</property>
  <property name="hibernate.connection.username">shk</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle9iDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  
  <mapping class="com.shk.stats.beans.Slice"/>
  <mapping class="com.shk.stats.beans.Application"/>
  <mapping class="com.shk.stats.beans.DataSource"/>
  <mapping class="com.shk.stats.beans.Memory"/>
  <mapping class="com.shk.stats.beans.Thread"/>
 </session-factory>
</hibernate-configuration>
